<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>966304367136-gtqr3u3345mr8qavuv890km31rvkli00.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.966304367136-gtqr3u3345mr8qavuv890km31rvkli00</string>
	<key>API_KEY</key>
	<string>AIzaSyB8MTCh6evRxeVFgkUfeA4BaKdQtCVw7N8</string>
	<key>GCM_SENDER_ID</key>
	<string>966304367136</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arkar.voyage</string>
	<key>PROJECT_ID</key>
	<string>voyage-a1869</string>
	<key>STORAGE_BUCKET</key>
	<string>voyage-a1869.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:966304367136:ios:e849fc938148c41431f245</string>
</dict>
</plist>